<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificacion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        
    </head>
    <body style="background-color: brown">

        <nav th:replace="index :: navbar" class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
        </nav>
        <br>
        <h1 style="color: white; margin: 20px; text-align: center">Modificacion del nombre</h1>
        <form th:action="@{/autor/modificar/__${id}__}" method="POST" style="margin: 40px">
            <input hidden th:value="${id}" name="id">
            <div class="form-group">
                <label style="color: white" for="formGroupExampleInput">Nombre nuevo para el autor : </label>
                <input style="width: 400px" type="text" class="form-control in-valid" name="name" th:value="${autor.nombre}" id="formGroupExampleInput" placeholder="Example input" required><br>
            </div>
            <button type="submit" class="btn btn-outline-info">Continuar</button>
            <a class="btn btn-primary" th:href="@{/}">Menu</a>
        </form>
        <div style="margin: 20px;color: white">

            <div th:if="${exito}!=null">
                <p th:text="${exito}"></p>
            </div>
            <div th:if="${error}!=null">
                <p th:text="${error}"></p>
            </div>

        </div>



        <div th:replace="index :: js"></div>
    </body>
</html>
