<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Modificacion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        
    </head>
    <body style="background-color: brown">

        <nav th:replace="index :: navbar" class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">

        </nav>

        <form th:action="@{/editorial/modificar/__${id}__}" method="POST" style="margin: 40px">
            <h1 style="color: white; text-align: center">Modificacion del nombre</h1><br><br>
            <div class="form-group">
                <input hidden th:value="${id}" name="id">
                <label style="color: white" for="exampleInputEmail1">Nombre nuevo para la editorial</label>
                <input style="width: 400px" name="name" th:value="${edi.nombre}" required type="text" class="form-control" id="exampleInputEmail1"><br>
                <button type="submit" class="btn btn-outline-info">Continuar</button>
                <a class="btn btn-primary" th:href="@{/}">Menu</a>
            </div>
        </form>
        <div style="margin: 20px;color: white">

            <div th:if="${exito}!=null">
                <p th:text="${exito}"></p>
            </div>
            <div th:if="${error}!=null">
                <p th:text="${error}"></p>
            </div>

        </div>


        <div th:replace="index :: js"></div>
    </body>
</html>
