<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Libreo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        
    </head>
    <body style="background-color: brown">

        <nav th:replace="index :: navbar" class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">

        </nav>

        <form th:action="@{/prestamo/modificar/__${id}__}" method="POST" style="margin: 20px">
            <input hidden name="id" th:value="${id}">
            <h1 style="color: white; text-align: center">Modificacion de un prestamo</h1>
            <div class="form-group" style="display: table; border-spacing: 20px">
                <div style="display: table-cell;">

                    <div class="form-group">
                        <label style="color: white" for="exampleFormControlSelect1">Nombre de Cliente : </label>
                        <select style="width: 400px" class="form-control" id="exampleFormControlSelect1" name="idCliente" required>
                            <option th:each="au : ${cli}" th:selected="${au.id == pre.cliente.id}" th:text="${au.nombre}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label style="color: white" for="exampleFormControlSelect1">Nombre de Libro : </label>
                        <select style="width: 400px" class="form-control" id="exampleFormControlSelect1" name="idLibro" required>
                            <option th:each="edi : ${lib}" th:selected="${edi.id == pre.libro.id}" th:text="${edi.titulo}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label style="color: white" for="formGroupExampleInput">Prestamo : </label>
                        <input style="width: 400px" type="date" th:value="${pre.fechaPrestamo}" name="prestamo" class="form-control" id="formGroupExampleInput" placeholder="Prestamo input" required>
                    </div>

                    <div class="form-group">
                        <label style="color: white" for="formGroupExampleInput">Devolucion : </label>
                        <input style="width: 400px" type="date" th:value="${pre.fechaDevolucion}" name="devolucion" class="form-control" id="formGroupExampleInput" placeholder="Devolucion input" required>
                    </div><br>

                </div>

            </div>
            <div style="margin: 20px">

                <button class="btn btn-outline-info" type="submit">Modificar</button>
                <a class="btn btn-primary" th:href="@{/}">Menu</a>

            </div>
        </form>

        <div th:replace="index :: js"></div>
    </body>
</html>
